body {
  font-family: "Roboto", "Railway", sans-serif;
}

   

.page-header {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: blue;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  border: 1px solid green;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  align-content: space-around;
  box-sizing: content-box;
  flex: 
}
  
  

.page-header >a{
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: underline;
  
}

.navbox {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  
  text-decoration: none;
  border: 1px solid green;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: content-box;
}

.page-contacts >a{
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  flex-direction: row;
}


.site-nav .link {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  line-height: 24px;
  letter-spacing: 2%;
  text-transform: uppercase;
  
}

.titlebox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    box-sizing: content-box;
    height: 600;
    width: 1000;
    border: 1px solid green;
    border-radius: 2%;
    background-color: #2e2f42;
    
  }


.page-title {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  color: hsl(0, 100%, 100%);
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  margin-bottom: 0;
  
}

.page-button {
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: centre;
  line-height: 24px;
  letter-spacing: 4%;
  border: 1px white;
  margin-top: 0;
  }

.page-button:hover {
  color: tomato;
}

.page-button:focus {
  background-color: orange;
}

.page-subtitle {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  line-height: 2;
  letter-spacing: 1px;
}

.company-principles .sub-item {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: :left;
  line-height: inherit;
  letter-spacing: inherit;
}



.our-team .sub-item {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 18px;
  font-weight: 500;
  text-align: : centre;
  line-height: 18px;
  letter-spacing: 1;
}

.duty {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 14px;
  font-weight: 500;
  text-align: : centre;
  line-height: 18px;
  letter-spacing: 1;
}

.sub-title {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 18px;
  font-weight: 500;
  text-align: : centre;
  line-height: 18px;
  letter-spacing: 1;
}




.portfolio >li .sub-item{
  font-family: "Roboto", sans-serif;
    background-color: #FFFFF;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 500;
    text-align: : centre;
    line-height: 18px;
    letter-spacing: 1;
}


footer {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  color: blue;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  
}

footer > a {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
  }

footer .text{
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2%;
  }

  a {
text-decoration: none; 
}